<!DOCTYPE html>
<html>
<head>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
  <link href="css/about.css" rel="stylesheet" />
</head>
<body>
  <h1> ABOUT</h1>
  <h2> coming soon</h1>
  <div id="adriana_profile">
    <div id="adriana_pic" class="color_box" />
    <p>
    </p>
  </div>
  <div id="johan_profile">
    <div id="johan_pic" class="color_box" />
    <p>
    </p>
  </div>

  <p class="email"> diakite@stanford.edu</p>
  
</body>
</html>
