<html>
	<head>
		<title>Venus As a Boy</title>
		<link href="css/index.css" type="text/css" rel="stylesheet" />
		<link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>		
		<img class="centered" src="images/venusasaboy-logo-white.png" />
		<div id="menu">
			<ul>
				<li><a href="murals">MURALS</a></li>
				<li><a href="engines">ENGINES</a></li>				
				<li><a href="about">ABOUT</a></li>	
			</ul>
		</div>
	</body>
</html>
