<!DOCTYPE html>
<html>
<head>
  <title>0 0 0 0 0</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
  <link href="css/mural.css" rel="stylesheet" />
</head>
<body>
  <h1>0 0 0 0 0</h1>
  <div class="mural">
    <img class="mural_main" src="images/mural_1.png"/>
    <p class="mural_description"> 
      Going into this piece we knew we wanted to do a black and white paiting and that we wanted a diagonal line where one side was the negative of the other. As we continued we strove to create/maintain balance. 
       Mediums: acyrlic paint
       Location: The Oakland Commune
    </p>
  </div>
</body>
</html>
