<html>
<head>

		<link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/mural.css" rel="stylesheet" />
</head>
<body>
  <h1> MURALS</h1>
  <div class="mural_div">
    <img class="mural_main" src="images/mural_1.png"/>
    <p class="mural_description"> 
      Going into this piece we knew we wanted to do a black and white paiting and that we wanted a diagonal line where one side was the negative of the other. As we continued we strove to create/maintain balance. 
       Mediums: acyrlic paint
       Location: The Oakland Commune
    </p>
  </div>
  <div class="mural_div">
    <img class="mural_main" src="images/mural_2.png"/>
    <p class="mural_description"> 
       We were given the task to make a colorful painting that was emulated the spirit  and history of silicon valley. We felt the vintage gameboy would both pay homage to tech history and provide an encouragement of playful innovation. The color bars reminescient of televisions past provided a good vehical for introducing a varienty of colors into the  piece. 

       Mediums: acyrlic paint
       Location: The Garage
    </p>
  </div>
 
</body>
</html>
