<div class="mural">
  <div class="row">
    <div class="col-md-12">    
      <img class="mural_main" src="images/mural_2.png"/>
    </div>                    
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mural_description">    
      <p>
      We were given the task to make a colorful painting that was emulated the spirit and history of Silicon Valley. We felt the vintage gameboy would both pay homage to tech history and provide an encouragement of playful innovation. The color bars reminiscent of televisions past provided a good vehical for introducing a variety of colors into the piece.  
      </p>

      <p>
      Mediums: Acrylic
      </p>

      <p>
      Location: Pejman & Mar Garage, Palo Alto, CA
      </p>

    </div>
    <div class="col-md-1"></div>                    
  </div>
</div>
