<div class="row works"> 
  <div class="col-md-3 col xs-0">
  </div>
  <div class="col-md-3 col xs-6">
    <div class="row">
      <div class="col-md-12 col xs-12"> 
        <a href="engine_00000">             
          <a href="mural_00000"><img class="mural_icon" src="images/mural_00000.png"/></a>
        </a>
      </div>
      <div class="col-md-12 col xs-12">               
        0 0 0 0 0
      </div>
    </div>
  </div>  
  <div class="col-md-3 col xs-6">
    <div class="row">
      <div class="col-md-12 col xs-3">       
        <a href="mural_00001"><img class="mural_icon" src="images/mural_00001.png"/></a>
      </div>
      <div class="col-md-12 col xs-12">               
        0 0 0 0 1
      </div>
    </div>
  </div>
  <div class="col-md-3 col xs-0">
  </div>  
</div>
