<html>
<head>
		<title>murals</title>
		<link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/mural.css" rel="stylesheet" />
</head>
<body>
  <h1>murals</h1>
  <!-- thinking of having four columns for murals -->
  <ul class="circles">
    <li class="mural">
      <a href="mural_00000"><img class="mural_icon" src="images/mural_00000.png"/></a>

      <p>0 0 0 0 0</p>
    </li>
    <li class="mural">
      <a href="mural_00001"><img class="mural_icon" src="images/mural_00001.png"/></a>
      <p>0 0 0 0 1</p>
    </li>
     <li class="mural">
      <a href="next_mural"><img class="mural_icon" src="images/next_mural.png"/></a>
      <p>. . .</p>
    </li>
  </ul>
</body>
</html>
