<!DOCTYPE html>
<html>
<head>
  <title>0 0 0 0 1</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
  <link href="css/mural.css" rel="stylesheet" />
</head>
<body>
  <h1>0 0 0 0 1</h1>
  <div class="mural">
    <img class="mural_main" src="images/mural_2.png"/>
    <p class="mural_description"> 
         We were given the task to make a colorful painting that was emulated the spirit  and history of silicon valley. We felt the vintage gameboy would both pay homage to tech history and provide an encouragement of playful innovation. The color bars reminescient of televisions past provided a good vehical for introducing a varienty of colors into the  piece. 

         Mediums: acyrlic paint
         Location: The Garage
      </p>
  </div>
</body>
</html>
