<div class="mural">
  <div class="row">
    <div class="col-md-12">    
      <img class="mural_main" src="images/mural_1.png"/>
    </div>                    
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mural_description">    
      <p>
      Going into this piece we knew we wanted to do a black and white paiting and that we wanted a diagonal line where one side was the negative of the other. As we continued we strove to create and maintain balance. 
      </p>

      <p>
      Mediums: Acrylic
      </p>

      <p>
      Location: Fantasia, Oakland, CA
      </p>

    </div>
    <div class="col-md-1"></div>                    
  </div>
</div>