<!DOCTYPE html>
<html>
<head>
	<title>next mural</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
  <link href="css/mural.css" rel="stylesheet" />
</head>
<body>
  <h1>next mural</h1>
  <div class="mural">
    <img class="mural_main" src="images/next_mural.png"/>
    <p class="mural_description"> 
      TODO: write some stuff about looking for new murals
    </p>
  </div>
</body>
</html>
