body {
  font-size: 22px;
}

.profile_pic {
  width: 200px;
  height: auto;
  border-radius:200px;
  padding: 20px;
}

.network_icon {
  width: 50px;
  height: auto;
}

.social_networks {
  padding:20px;
}

.bio {
  padding:50px;
  text-align: left; 
  font-size: 18px;
}

.about {
  margin-top: -60px;
}