body {
	background-color: black;
	font-family: 'DIN';
}

@font-face {
    font-family: 'DIN'; /*a name to be used later*/
    src: url('../fonts/DIN-Light.otf'); /*URL to font*/
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
}

a {
	font-size: 24;
	color: white;
	text-decoration: none;
}

#menu ul { 
	padding-top: 20px;	
	padding-left: 0px; 
}

#menu li { 
	display: inline; 
	padding: 20px; 
}
