.centered {
  position: fixed;
  top: 30%;
  left: 43%;
  width: 14%;
}

body {
  background-image: url(../images/venusasaboy-logo-white.png);
  background-repeat:no-repeat;
  background-position: center center;
}

#menu ul { 
  position: fixed;
  left: 4%;
  top: 0%;
	padding-top: 20px;	
	padding-left: 0px; 
}

#menu li { 
	display: inline; 
	padding: 20px; 
}
