.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
}

#menu ul { 
	padding-top: 20px;	
	padding-left: 0px; 
}

#menu li { 
	display: inline; 
	padding: 20px; 
}
