.mural {
  padding: 20px;
}

.mural_main {
  height: 60%;
}

.mural_description {
  text-align: left;
  font-size:18px;
  color: #e0e0e0;
  margin: 20px;
}

.mural_icon {
  width: 200px;
  height: auto;
  /*box-shadow: 0 0 50px #555;*/
  border-radius:100px;
}

ul {
  list-style: none;
  font-size: 0px;
}

li {
  display: inline-block;
  padding: 0px;
  margin: 7%;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  border-radius:100px;
}
