@font-face {
    font-family: 'DIN'; /*a name to be used later*/
    src: url('../fonts/DIN-Light.otf'); /*URL to font*/
}

body {
  text-align: center;
  background-color: #000000;
  font-family: 'DIN';
}

h1 {
  color: #ffffff;
  font-size: 64px;
  vertical-align: middle;
  text-align: center;
  margin-top: 42px;
}

.mural_main {
  height: auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.mural_description {
  text-align: left;
  width: 80%;
  margin-left:10%;
  font-size:18px;
  color: #e0e0e0;


}

.mural_div {
  text-align:center;
}

