@font-face {
    font-family: 'DIN'; /*a name to be used later*/
    src: url('../fonts/DIN-Light.otf'); /*URL to font*/
}

body {  
  text-align: center;
  color: white;
  background-color: #000000;
  font-family: 'DIN';
  width: 100%;
  height: 100%;
}

h1 {
  color: #ffffff;
  font-size: 64px;
  vertical-align: middle;
  text-align: center;
  margin-top: 42px;
}

a {
	font-size: 18px;
	color: white;
	text-decoration: none;
}

h2 {
  color: #ffffff;
  font-size: 36px;
  text-align:center;
}

.menu {
  padding-top: 20px;
}

.content {    
  height: 100%;
  width: 100%;
}

.vertical-align {    
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;

    align-items: center;
}

.center-block { float: none; }
